/*************************/
/* Standard Base Classes */
/*************************/

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  background: #EDEDED;
}

p {
  margin: 10px;
  font-size: 12px;
  text-align: justify;
  line-height:150%;
  color: #4A4A4A;
}

input, textarea {
  border: solid 1px black;
  padding: 4px;
  font-size: 11px;
}

a {
  color: black;
}

.varDump {
  font-size: 10px;
  padding: 10px;
  background: pink;
  border: 1px solid black;
  margin: 20px;
  text-align: left;
}

.help {
  margin: 0px 20px 20px 20px;
  background: #EDEDED;
  padding: 10px;
  border: 1px solid black;
}

.tableHeader td {
  border-bottom: solid 1px #bfa567;
  padding: 3px 0px 3px 0px;
}

#mainContainer {
  position: relative;
  width: 910px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0px auto -31px auto;
  background: white;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

#title {
  position: relative;
  text-align: left;
  background: #cc0000;
  height: 100px;
  width: 910px;
}

#title img {
  margin: 0px 0px 0px 5px;
  border: 0px;
}

#navBar {
  height: 30px;
  width: 910px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  background: #9E7575;
}

#navBar a {
  float: left;
  color: white;
  font-size: 11px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  padding: 0px 15px 0px 15px;
}

#navBar .navBarLinkFirst a {
}

#navBar .navBarLink a {
}

#navBar .navBarLinkSelected a {
}

#body {
  color: #4A4A4A;
  clear: both;
  font-size: 14px;
  overflow: auto;
  line-height: 150%;
  text-align: justify;
  margin: 0px 0px 20px 0px;
}

#body h1 {
  border-bottom: 2px solid #cc0000;
  font-size: 25px;
  line-height: 30px;
  margin: 0px 0px 10px 0px;
}

#body.normalBody {
  margin: 20px 20px 20px 20px;
}

#footer {
  position: relative;
  height: 30px;
  width: 910px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  color: white;
  background: #9E7575;
  clear: both;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

#footer a {
  float: right;
  font-size: 11px;
  margin-right: 10px;
  text-align: right;
  line-height: 30px;
  color: white;
}

.push {
  clear: both;
  height: 31px;
}

.clear {
  clear: both;
}
