/* Match tags styles */

#matchTags {
  margin: 0px;
  font-size: 13px;
}

#matchTags strong {
  font-weight: bold;
}

#matchTags h2 {
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #cc0000;
  line-height: 25px;
}

#matchTags .code {
  width: 90%;
  margin: 0px auto;
  background: #DDD;
  border: 1px solid grey;
  padding: 10px;
  font-family: monospace;
}

#matchTags img {
  border: 1px solid black;
}

#matchTags img.imageLeft {
  float:left;
  margin-right: 20px;
  margin-bottom: 5px;
  display:block;
}

#matchTags img.imageRight {
  float:right;
  margin-left: 20px;
  margin-bottom: 5px;
  display:block;
}

#matchTags img.imageCentre {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display:block;
}
