.memberBody {
	float: right;	
	padding: 10px 0px 0px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 780px;
  background: red;
}

.memberLinks {
  float: left;
  padding: 10px 10px 10px 10px;
  width: 110px;
  background: gold;
}

